<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>DOM XSS</h2>
        <p>A demonstration of DOM-based XSS, in the context of a web forum page, where the entire attack can take place on the client, without any requests made to the server. The client inserts user input into the DOM insecurely, resulting in an XSS vulnerability.</p>
        <p>@Html.ActionLink("DOM XSS", "Dom", "Home", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Persistent XSS</h2>
        <p>A demonstration of Persistent XSS, in the context of a public To-do app with a backend. To-do entries are stored on the server's database, and since user input is not sanitized, to-do items can contain harmful scripts which are executed every time the page is loaded.</p>
        <p>@Html.ActionLink("Persistent XSS", "Persistent", "Home", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Reflective XSS</h2>
        <p>A demonstration of Reflective XSS, in the context of a simple custom greeting message generator. When the user enters in their name, the client makes a request to the server for a custom generated greeting message. However, this input is not sanitized and is therefore vulnerable to harmful script insertion.</p>
        <p>@Html.ActionLink("Reflective XSS", "Reflective", "Home", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>
